<div class="row">
  <div class="span3">
    <%= f.input :college,
      collection: sorted_college_list_for_student_works,
      input_html: { class: 'shrinking-form-input' },
      required: false,
      label: 'College' %>
  </div>
  <div class="span3">
    <%= f.input :department,
      required: false,
      input_html: { class: 'shrinking-form-input', value: curation_concern.department || "" },
      label: 'Program or Department' %>
  </div>
  <%= render 'form_input_help_block', help_text: I18n.t('sufia.student_work.input_field.unit.help', work_type: curation_concern.human_readable_type) %>
</div>
