<div class="row">
  <div class="span3">
    <%= f.input :college,
      collection: sorted_college_list,
      selected: (curation_concern.college || current_user.college),
      input_html: { class: 'shrinking-form-input' },
      required: true,
      label: 'College' %>
  </div>
  <div class="span3">
    <%= f.input :department,
      required: true,
      input_html: { class: 'shrinking-form-input', value: curation_concern.department || current_user.department },
      label: 'Program or Department' %>
  </div>
  <%= render 'form_input_help_block', help_text: I18n.t('sufia.work.input_field.unit.help', work_type: curation_concern.human_readable_type) %>
</div>
