<div class='modal fade modal-collection' title= <%=modal_title%> id= <%=modal_id%>>
  <%= raw modal_text %>
  <%= link_to 'Close', root_path, class: 'btn btn-link', data: { dismiss: 'modal' } %>
</div>