<% if @collection.collections.present? %>
<table class="table table-striped <%= dom_class(@collection) %> collections with-headroom">
  <thead>
    <tr>
      <th>Parent Collections</th>
    </tr>
  </thead>
  <tbody>
    <% @collection.collections.each do |collection| %>
      <tr class="collection attributes">
        <%= content_tag :td, class: 'attribute title', data: { noid: collection.noid } do %>
          <%= link_to collection.title, create_link(collection) %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>