<%- if document.respond_to?(:representative_image_url) && document.representative_image_url.present? %>
   <%= image_tag download_path(document.representative, {:datastream_id => 'medium'}), alt: catalog_thumbnail_alt_text(document), class: "canonical-image"  %>
<%- elsif document.respond_to?(:representative) && document.representative.present? %>
  <%= image_tag download_path(document.representative, {:datastream_id => 'thumbnail'}), alt: catalog_thumbnail_alt_text(document), class: "canonical-image", style: "height: 50px; width: 50px;"  %>
<%- elsif document.persisted? -%>
  <%= image_tag download_path(document, {:datastream_id => 'medium'}), alt: catalog_thumbnail_alt_text(document), class: "canonical-image test" %>
<%- else -%>
  <span class="canonical-image"></span>
<%- end -%>
