<%= form_for(GenericFile.new, :url => curation_concern_generic_files_path(parent_id:curation_concern.id), :html => {:multipart => true, :id => 'fileupload'}) do |f| %>
  <div class="well">
    <%= render partial: 'curation_concern/generic_files/form_fields' %>
  </div>
<% end %>

