<div class="row">
  <%= f.simple_fields_for :unit do |uf| %>
    <div class="span3">
      <%= uf.input :college,
        collection: sorted_college_list,
        required: false,
        input_html: { class: 'shrinking-form-input' },
        label: 'College' %>
    </div>
    <div class="span3">
      <%= uf.input :department,
        required: false,
        input_html: { class: 'shrinking-form-input', value: curation_concern.department || "" },
        label: 'Degree Program' %>
    </div>
    <%= render 'form_input_help_block', help_text: I18n.t('sufia.etd.input_field.unit.help', work_type: curation_concern.human_readable_type) %>
  <% end %>
</div>
